.header
  .header__logo
    = image_tag "logo.png",size: "180x60", alt: ""
  .header__logo--nav
    新規会員登録
.contents
  %p
    ニックネーム
    %span 必須
  %input.login-input-text{name: "nickname",placeholder: "ニックネーム",type: "text"}/
  .contents__form
  %p
    メールアドレス
    %span 必須
  %input.login-input-text{name: "email",placeholder: "PC.携帯どちらでも可",type:"email"}/
  .contents__form
  %p
    パスワード
    %span 必須
  %input.login-input-text{name: "password", placeholder: "7文字以上", type: "password"}/
  .contents__form
  %p
    お名前(全角)
    %span 必須
  %input.login-input-text{name: "name", placeholder: "例)ふりま太郎", type: "text"}/
  .contents__form
  %p
    お名前ふりがな(全角)
    %span 必須
  %input.login-input-text{name: "name", placeholder: "例)ふりまたろう", type: "text"}/
  .contents__form
  %p
    生年月日
    %span 必須
  %input.login-input-text{name: "birthday", placeholder: "1991/03/6", type: "date"}/
  .contents__form
  %p
    送付先お名前(全角)
    %span 必須
  %input.login-input-text{name: "name", placeholder: "例)ふりま太郎", type: "text"}/
  .contents__form
  %p
    郵便番号
    %span 必須
  %input.login-input-text{name: "postnumber", placeholder: "000-0000", type: "text"}/
  .contents__form
  %p
    都道府県
    %span 必須
  %input.login-input-text{name: "adress", placeholder: "例)東京都", type: "text"}/
  .contents__form
  %p
    市区町村
    %span 必須
  %input.login-input-text{name: "adress", placeholder: "例)渋谷区", type: "text"}/
  .contents__form
  %p
    番地
    %span 必須
  %input.login-input-text{name: "adress", placeholder: "例)神宮前1-1", type: "text"}/
  .contents__form
  %p
    マンション名、部屋番号(任意)
  %input.login-input-text{name: "adress", placeholder: "例)DIVハイツ101号", type: "text"}/
  .contents__form
  %p
    お届け先の電話番号(任意)
  %input.login-input-text{name: "number", placeholder: "例)000-0000-0000", type: "tel"}/
  %p
  %button{type: "submit", class:'btn'}
    新規登録









