$basic-color: rgb(93,250,255);
$font-color: white;


.content_download{
  height:           400px;
  width:            100vw;
  background-image: image-url("bg-appBanner-pict.jpg");
  background-size:  cover;
  margin-top: 100px;
  .font_size{
    font-size: 22px;
    padding: 120px 0 20px;
  }
  p{
    text-align:   center;
    color:        $font-color;
    text-shadow:  1px 1px 5px rgb(51, 51, 51);
    font-size:    30px;
    font-weight:  bold;
  }
  .margin_bottom{
    margin-bottom: 70px;
  }
  .btn{
    position: relative;
    bottom: 15%;
    left: 40%;
  }
}
.footer{
  padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
    &__contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      &--content{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
        h1{
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        ul{
          margin: 0 20px;
          li{
            margin: 0;
            padding: 0;
            a{
              color: #fff;
              text-decoration: none;
              font-size: 12px;
              line-height: 32px;
            }
          }
        }
      }
    }
      &__icon{
        max-width: 160px;
        width: 100%;
        margin: 0 auto;   
      }
 }
    .p{
      font-size: 14px;
    }
