* {
  box-sizing: border-box;
}

.top-image {
  text-align: center
}

.field {
  font-weight: bold;
  margin :18px;
  text-align: center
}

.actions {
  font-weight: bold;
  border-radius: 4px;
  text-align: center
}

