* {
  box-sizing: border-box;
}

.top-image {
  text-align: center
}

.field {
  font-weight: bold;
  margin :18px;
  text-align: center
}

.actions {
  font-weight: bold;
  border-radius: 4px;
  text-align: center
}

input {
  padding: 12px 100px 8px;
  margin: 10px 10px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #3CCACE;
}

