.pick_up__category--flex
  .product
    .image
      =link_to (image_tag'IMG_9072.jpg',height:"200px",width:"200px")
      .info
      %p 
        ee
      %br/
      ¥30000
      %h3
        (税込)
      %i.fas.fa-star
        0
    .image
      =link_to (image_tag'a007.png',height:"200px",width:"200px")
      .info
      %p 
        product3
      %br/
      ¥30000   
      %h3
        (税込)
      %i.fas.fa-star
        0
    .image
      =link_to (image_tag'a004.png',height:"200px",width:"200px")
      .info
      %p 
        product2
      %br/
      ¥30000
      %h3
        (税込)
      %i.fas.fa-star
        0
    .image
      =link_to (image_tag'a001.png',height:"200px",width:"200px")
      .info
      %p 
        product1
      %br/
      ¥30000
      %h3
        (税込)
      %i.fas.fa-star
        0 